{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>TeamSankaku Inc.</h1>

    <p>〒530-0001 大阪府大阪市北区梅田１丁目１−３ 大阪駅前第3ビル</p>

    <iframe id='map'
    src='https://www.google.com/maps/embed/v1/place?key=AIzaSyC85KhVE4P9-fYoEEdjeQXBSsTnT0u2EgI&amp;q=大阪府大阪市北区梅田１丁目１−３ 大阪駅前第3ビル'
    width='70%'
    height='320'
    frameborder='0'>
    </iframe>
    
    <h1>Nishiyama castle</h1>

    <p>〒540-0002 大阪府大阪市中央区大阪城１−１</p>

    <iframe id='map'
    src='https://www.google.com/maps/embed/v1/place?key=AIzaSyC85KhVE4P9-fYoEEdjeQXBSsTnT0u2EgI&amp;q=〒540-0002 大阪府大阪市中央区大阪城１−１'
    width='70%'
    height='320'
    frameborder='0'>
    </iframe>

    <h1>Sunagawa park</h1>

    <p>〒554-0031 大阪府大阪市此花区桜島２丁目１−３３</p>

    <iframe id='map'
    src='https://www.google.com/maps/embed/v1/place?key=AIzaSyC85KhVE4P9-fYoEEdjeQXBSsTnT0u2EgI&amp;q=〒554-0031 大阪府大阪市此花区桜島２丁目１−３３
    '
    width='70%'
    height='320'
    frameborder='0'>
    </iframe>

    <h1>Yasuda Tower</h1>

    <p>〒556-0002 大阪府大阪市浪速区恵美須東１丁目１８−６</p>

    <iframe id='map'
    src='https://www.google.com/maps/embed/v1/place?key=AIzaSyC85KhVE4P9-fYoEEdjeQXBSsTnT0u2EgI&amp;q=〒556-0002 大阪府大阪市浪速区恵美須東１丁目１８−６'
    width='70%'
    height='320'
    frameborder='0'>
    </iframe>
</div>
{% endblock %}
